.bg-grey {
  background-color: #eee!important;
}

.bg-light-grey {
  background-color: #f5f5f5!important;
}

.technologies-font {
  color: #999!important;
  font-size: 110%!important;
  font-style: italic!important;
}

.bg-primary {
  background-color: #33cccc!important;
}

.project-modal-title {
  font-size: 2rem!important;
}

@media (min-width: 992px) {
  .project-modal-title {
    font-size: 2.25rem!important;
  }
}

.copy-email-button {
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;

  color: #1abc9c;
  text-decoration: none;
  background-color: transparent;

  font-weight: 700!important;
}

.copy-email-button:hover {
  color: #117964;
  text-decoration: underline;
}

.img-work-logo {
  max-height: 150px;
  max-width: 150px;
}

.img-maind {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.no-bottom-margin {
  margin-bottom: 0px!important;
}

.small-bottom-margin {
  margin-bottom: 5px!important;
}

form #url{
  display:none;
}

form #website{
  display:none;
}
